.footer-container {
  display: block;
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #282828;
  bottom: 0px;
  }
 .footer-play-button-container {
  text-align: center;
  position: relative;
  top: 10px;
  width: 500px;
  margin: auto;
 }
 .footer-play-button {
	position: relative;
	top: 50%; 
  font-size: 40px;
  color: #ccc;
  -webkit-text-stroke: 2px #181818;
}
.footer-displaySongInfo-container {
  position: relative;
  top: -83px;
  width: 175px;
  padding: 18px 0px 0px 27px;
  font-size: 16px;
}
.footer-artist-name {
  color: $headerColor;
  font-size: 14px;
}
.footer-song-name {
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer-displayText-container {
  position: relative;
  left: 60px;
  top: -66px;
}
.footer-image {
  position: relative;
  top: 12px;
  left: -20px;
}
.song-progress-container {
  margin-top: -10px;
  display: inline;
  justify-content: center;
  position: relative;
}

.song-progress {
  width: 500px;
  height: 4px;
  background: rgb(64, 64, 64);;
  border-radius: 4px;
}

.song-expired {
  margin: 0;
  height: 4px;
  background: #1db954;
  border-radius: 4px;
}
