.mainHeader {
	position: relative;
	left: 180px;
	font-family: 'PT Sans', sans-serif;
}
.title {
	position: relative;
	font-size: 46px;
  margin-top: 0px;
  left: 10px;
}
.green-play-button {
	background-color: #1db954;
	width: 100px;
	height: 38px;
	border-radius: 20px;
	border: none;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	padding: 10px;
	letter-spacing: 1px;
  position: relative;
  left: 10px;
  top: -14px;
  outline: none;
}
.playlist-image {
	height: 200px;
}
.title-container {
	position: relative;
	height: 200px;
  top: -201px;
  left: 215px;
}
.playlist-title-container {
	height: 230px;
	padding-left: 10px;
}