.songList-container {
	width: auto;
}
.song-header-container {
  border-bottom: 1px solid #666;
  display: flex;
  line-height: 40px;
  font-size: 14px;
}
.song-header-item {
	display: flex;
	height: 30px;
	width: 250px;
  font-size: 12px;
  font-weight: lighter;
  padding-left: 9px;
  align-items: center;
  color: #ccc;
}
.buttons-container {
  width: 34px;
  height: auto;
  padding-left: 10px;
}
.songList-item-container {
  list-style-type: none;
  border-bottom: 1px solid #666;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    background-color: rgb(51, 51, 51);
  }
}
.songList-item-container span.play-icon {
  display: none;
  position: relative;
  top: 18%;
  transform: translateY(-50%);
}
.songList-item-container:hover span.play-icon {
  display: inline;
}
.songList-item{
	padding: 0px 5px 0px 9px;
	width: 250px;
  margin: 10px 0px 10px 0px;
}

span.play-icon {
  font-size: 24px;
  color: #ccc;
}

